.chat-display{
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    padding: 20px;
    overflow: auto;
    height: 400px;
    width: 400px;
    border: black 1px solid;
    border-radius: 10px;
}

.chat-input {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}